  body{
  margin: 0;
  padding: 0;
  font-family:Verdana;
  color:#aaaaaa;
  background-color: #1A1A1A;
  }

  * {
    box-sizing: border-box;
  }

  .top{
    background-color: #111;
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
  }

  .bottom{
    background-color:#2F2E33;
    color: #FFFFFF;
    text-align:center;
    padding:10px;
    margin-top:7px;
  }
  

  /* início do menu */

  .menu {
    float: left;
    width: 20%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .menu a {
    background-color: #2F2E33;
    text-decoration: none;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: #FFFFFF;
  }

  .menu a:hover{
    text-decoration: underline;
    color: purple;
  }

  /* Fim do menu */
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    color: #FFFFFF;
  }
  
  .right {
    background-color: #2F2E33;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    color: #FFFFFF;
  }

  .right > h2{
    color: #E01200 !important; 
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  /* menu suspenso */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F2E33;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;;
  }

  li a:hover {
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }